In [14]:
import pandas as pd
import numpy as np
from bokeh.plotting import ColumnDataSource, figure, output_file
from bokeh.models import Slider, Select
from bokeh.io import curdoc, output_notebook, show
from bokeh.layouts import widgetbox, column
from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_iris

In [11]:
df = pd.DataFrame(load_iris().data, columns=[load_iris().feature_names])
df['species'] = load_iris().target

In [12]:
df.replace([0, 1, 2], load_iris().target_names, inplace=True)

In [13]:
df.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [18]:
# create dropdowns

# Create two dropdown Select widgets: select1, select2
select_plot = Select(title='Plot', options=['Bar Plot', 'Histogram', 'Scatter Plot', 'Box Plot'])

select_x = Select(title='X-axis', options=['sepal length (cm)', 'sepal width (cm)',
                                          'petal length (cm)', 'petal width (cm)'],
                 value='choose')
select_y = Select(title='Y-axis', options=['sepal length (cm)', 'sepal width (cm)',
                                          'petal length (cm)', 'petal width (cm)'],
                 value='choose')

# Define a callback function: callback
def update_axis(attr, old, new):
    x = df[select_x.value]
    y = df[select_y.value]

def update_plot():
    pass


# Attach the callback to the 'value' property of select1
# select1.on_change('value', callback)

# Create layout and add to current document
layout = widgetbox(select_x, select_y)
curdoc().add_root(layout)
show(layout)